@* @{
    ViewData["Title"] = "Mesajınız Başarıyla Gönderildi";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card text-center">
                <div class="card-header bg-success text-white">
                    <h3>Mesajınız Başarıyla Gönderildi</h3>
                </div>
                <div class="card-body">
                    <p>Mesajınızı aldık, en kısa sürede size geri dönüş yapacağız. Teşekkür ederiz!</p>
                    <a href="@Url.Action("Index", "Home")" class="btn btn-primary mt-3">Ana Sayfaya Dön</a>
                </div>
            </div>
        </div>
    </div>
</div>
 *@