@using MyResume.UI.Areas.Admin.Models.AdminVMs.AdminSummaryVMs;
@model List<AdminSummaryListVM>

<h3 class="resume-title">Sumary</h3>

<div class="resume-item pb-0">
    @foreach (var item in Model)
    {
        
    <h4>@item.Name</h4>
    <p><em>@item.Description</em></p>
    }
</div><!-- Edn Resume Item -->