<main class="main">

    @await Component.InvokeAsync("_FeatureComponentPartial")

    @await Component.InvokeAsync("_AboutComponentPartial")

   @*  @await Component.InvokeAsync("_StatisticComponentPartial") *@

    @await Component.InvokeAsync("_SkillComponentPartial")

    @await Component.InvokeAsync("_ExperinceComponentPartial")

    @await Component.InvokeAsync("_PortfolioComponentPartial")

   @*  @await Component.InvokeAsync("_TestimonialComponentPartial") *@

    @await Component.InvokeAsync("_ContactComponentPartial")


</main>